
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(194, 197, 194);
}



.resume_content{
    padding-top: 3rem;
    width: 1000px;
    margin: 0 auto;
}

.heading{
    display: flex;
    justify-content: center; 
    padding-bottom: 2rem;
}

.heading h1{
    text-transform: uppercase;
    font-size: 3rem;
    border-bottom: 2px solid black;
}
.main_secetion{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 1rem;
    border-bottom: 2px solid grey;
    
}

.picture{
    width: 300px;
    border-radius:500px;  
}
.picture img{
    width:300px;
    border-radius:500px;
    border: 1px solid black;
}

.name_title{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}

.name{
    font-size: 4rem;
    text-transform: uppercase;
}
.title{
    font-size: 2rem;
    color: rgb(72, 29, 29);
}

.links{
    display: flex;
    gap: 2.5rem;
}
.social{ 
    font-size: 40px;
}



@media screen and (max-width:715px){
    .resume_content{
        width: 98%;
    }

    .main_secetion{
        flex-direction: column;
    }
    .name_title{
        justify-content: center;
        place-content: center;
        place-items: center;
    }

    .name{
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    .title{
        font-size: 1.4rem;
        color: rgb(72, 29, 29);
    }
    .picture{
        width: 250px;
        border-radius:500px;  
    }
    .picture img{
        width:250px;
        border-radius:500px;
        border: 1px solid black;
    }
    .links{
        gap: 1.2rem;
    }
    .social{ 
        font-size: 30px;
    }

    .heading h1{
        font-size: 2rem;
    }
  }

.profile_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    width: 100%;
    border-bottom: 2px solid grey;
}

.profile_heading h3{
    font-size: x-large;
    text-transform: uppercase;
}

.paragraph-1, .paragraph-2 {
    color: rgb(44, 44, 44);
}

.education_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
    width: 100%;
    border-bottom: 2px solid grey; 
    text-transform: uppercase;
}

.education_heading,h3{
    font-size: x-large;
    text-transform: uppercase;
}

.educations{
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    color: rgb(44, 44, 44);
}
.left{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    top: 0px;
}

.left h4{
    color: black;
}
.right{
    display: flex;
    flex-direction: column;
    align-items: end;
}

@media screen and (max-width:715px){
    .right{
        display: none;
        
    }
  }
